:root {
  --btn-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --btn-shadow-hover: rgba(0, 0, 0, 0.24) 0px 0px 0px;
  --btn-shadow-active: rgba(0, 0, 0, 0.24) 0px 0px 0px;
  --btn-transition-duration: 150ms;
  --btn-opacity: 0.9;
  --btn-opacity-hover: 1;
  --btn-opacity-active: 1;
  --btn-padding-sm: 8px 12px 8px 12px;
  --btn-padding-md: 10px 16px 10px 16px;
  --btn-padding-lg: 14px 20px 14px 20px;
  --btn-padding-xl: 24px 48px 24px 48px;
  --btn-size-sm: 12px;
  --btn-size-md: 14px;
  --btn-size-lg: 18px;
  --btn-size-xl: 28px;
  --btn-border-radius-sm: 8px;
  --btn-border-radius-md: 8px;
  --btn-border-radius-lg: 8px;
  --btn-border-radius-xl: 8px;
  --btn-primary-border: 1px solid var(--color-primary-300);
  --btn-primary-color: var(--color-on-primary);
  --btn-primary-background: linear-gradient(88deg, var(--color-primary-400) 0%, var(--color-primary-500) 100%);
  --btn-primary-border-hover: 1px solid var(--color-secondary-400);
  --btn-primary-color-hover: var(--color-generic-0);
  --btn-primary-background-hover: linear-gradient(88deg, var(--color-secondary-400) 0%, var(--color-secondary-500) 100%);
  --btn-primary-box-shadow-hover: unset;
  --btn-primary-border-active: 1px solid var(--color-primary-300);
  --btn-primary-color-active: var(--color-primary-300);
  --btn-primary-background-active: linear-gradient(88deg, var(--color-secondary-400) 0%, var(--color-secondary-500) 100%);
  --btn-primary-box-shadow-active: 0 0 0 0.3em var(--color-primary-300);
  --btn-primary-border-focus: 1px solid var(--color-primary-300);
  --btn-primary-color-focus: var(--color-primary-50);
  --btn-primary-background-focus: linear-gradient(88deg, var(--color-primary-500) 0%, var(--color-primary-600) 100%);
  --btn-primary-box-shadow-focus: 0 0 0 0.3em var(--color-primary-300);
  --btn-primary-border-disabled: 1px solid var(--color-primary-100);
  --btn-primary-color-disabled: var(--color-primary-50);
  --btn-primary-background-disabled: var(--color-primary-100);
  --btn-primary-box-shadow-disabled: unset;
  --btn-secondary-border: 1px solid transparent;
  --btn-secondary-color: var(--color-primary);
  --btn-secondary-background: var(--primary-100, #DBEBFF);
  --btn-secondary-border-hover: 1px solid transparent;
  --btn-secondary-color-hover: var(--color-secondary-600);
  --btn-secondary-background-hover: var(--color-secondary-200);
  --btn-secondary-box-shadow-hover: unset;
  --btn-secondary-border-active: 1px solid var(--color-primary-300);
  --btn-secondary-color-active: var(--color-primary-400);
  --btn-secondary-background-active: var(--color-primary-200);
  --btn-secondary-box-shadow-active: unset;
  --btn-secondary-border-focus: 1px solid var(--color-primary-300);
  --btn-secondary-color-focus: var(--color-primary-400);
  --btn-secondary-background-focus: var(--color-primary-200);
  --btn-secondary-box-shadow-focus: 0 0 0 0.3em var(--color-primary-300);
  --btn-secondary-border-disabled: 1px solid var(--color-primary-50, #F0F6FF);
  --btn-secondary-color-disabled: var(--color-primary-200, #B3D4FF);
  --btn-secondary-background-disabled: var(--color-primary-50, #F0F6FF);
  --btn-secondary-box-shadow-disabled: unset;
  --btn-tertiary-border: 1px solid var(--color-neutral-200, #E4E4E4);
  --btn-tertiary-color: var(--color-neutral-700, #525252);
  --btn-tertiary-background: var(--color-generic-0, #FFF);
  --btn-tertiary-border-hover: 1px solid var(--color-slate-300, #CAD4E0);
  --btn-tertiary-color-hover: var(--color-slate-700, #475569);
  --btn-tertiary-background-hover: var(--color-slate-100, #F0F4F8);
  --btn-tertiary-box-shadow-hover: unset;
  --btn-tertiary-border-active: 1px solid var(--color-neutral-300, #D3D3D3);
  --btn-tertiary-color-active: var(--color-neutral-500, #8A8A8A);
  --btn-tertiary-background-active: var(--color-neutral-100, #F4F4F4);
  --btn-tertiary-box-shadow-active: unset;
  --btn-tertiary-border-focus: 1px solid var(--color-neutral-300, #D3D3D3);
  --btn-tertiary-color-focus: var(--color-neutral-500, #8A8A8A);
  --btn-tertiary-background-focus: var(--color-neutral-50, #F9F9F9);
  --btn-tertiary-box-shadow-focus: 0px 0px 0px 4px #CBCBCB;
  --btn-tertiary-border-disabled: 1px solid var(--color-neutral-200, #E4E4E4);
  --btn-tertiary-color-disabled: var(--color-neutral-300, #D3D3D3);
  --btn-tertiary-background-disabled: var(--color-generic-0, #FFFFFF);
  --btn-tertiary-box-shadow-disabled: unset;
  --btn-outline-border: 1px solid var(--color-primary-500, #004AAD);
  --btn-outline-color: var(--color-primary-500, #004AAD);
  --btn-outline-background: transparent;
  --btn-outline-border-hover: 1px solid var(--color-secondary-600, #E4B602);
  --btn-outline-color-hover: var(--color-secondary-600, #E4B602);
  --btn-outline-background-hover: transparent;
  --btn-outline-box-shadow-hover: unset;
  --btn-outline-border-active: 1px solid var(--color-primary-400, #2E89FF);
  --btn-outline-color-active: var(--color-primary-400, #2E89FF);
  --btn-outline-background-active: var(--color-primary-50, #2E89FF);
  --btn-outline-box-shadow-active: 0 0 0 0.3em var(--color-primary-400);
  --btn-outline-border-focus: 1px solid var(--color-primary-400, #2E89FF);
  --btn-outline-color-focus: var(--color-primary-500, #004AAD);
  --btn-outline-background-focus: var(--color-primary-50, #2E89FF);
  --btn-outline-box-shadow-focus: 0 0 0 0.2em var(--color-primary-400);
  --btn-outline-border-disabled: 1px solid var(--color-primary-200, #B3D4FF);
  --btn-outline-color-disabled: var(--color-primary-200, #B3D4FF);
  --btn-outline-background-disabled: transparent;
  --btn-outline-box-shadow-disabled: unset;
  --btn-link-border: 1px solid transparent;
  --btn-link-color: var(--color-primary-500, #004AAD);
  --btn-link-background: transparent;
  --btn-link-border-hover: 1px solid transparent;
  --btn-link-color-hover: var(--color-secondary-600, #E4B602);
  --btn-link-background-hover: transparent;
  --btn-link-box-shadow-hover: unset;
  --btn-link-border-active: 1px solid transparent;
  --btn-link-color-active: var(--color-primary-400, #2E89FF);
  --btn-link-background-active: transparent;
  --btn-link-box-shadow-active: unset;
  --btn-link-border-focus: 1px solid var(--color-primary-500, #004AAD);
  --btn-link-color-focus: var(--color-primary-500, #004AAD);
  --btn-link-background-focus: transparent;
  --btn-link-box-shadow-focus: unset;
  --btn-link-border-disabled: 1px solid transparent;
  --btn-link-color-disabled: var(--color-primary-200, #B3D4FF);
  --btn-link-background-disabled: transparent;
  --btn-link-box-shadow-disabled: unset; }

.btn {
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  box-sizing: border-box;
  transition-duration: var(--btn-transition-duration);
  opacity: var(--btn-opacity); }
  .btn:hover {
    box-shadow: var(--btn-shadow-hover);
    opacity: var(--btn-opacity-hover); }
  .btn:active {
    box-shadow: var(--btn-shadow-active);
    opacity: var(--btn-opacity-active); }
  .btn:disabled {
    cursor: not-allowed; }

.btn-sm {
  border-radius: var(--btn-border-radius-sm);
  font-size: var(--btn-size-sm);
  font-weight: 500;
  padding: var(--btn-padding-sm); }

.btn-md {
  border-radius: var(--btn-border-radius-md);
  font-size: var(--btn-size-md);
  font-weight: 500;
  padding: var(--btn-padding-md); }

.btn-lg {
  border-radius: var(--btn-border-radius-lg);
  font-size: var(--btn-size-lg);
  font-weight: 500;
  padding: var(--btn-padding-lg); }

.btn-xl {
  border-radius: var(--btn-border-radius-xl);
  font-size: var(--btn-size-xl);
  font-weight: 500;
  padding: var(--btn-padding-xl); }

.btn-primary {
  border: var(--btn-primary-border);
  color: var(--btn-primary-color);
  background: var(--btn-primary-background);
  box-shadow: var(--btn-primary-box-shadow); }
  .btn-primary:hover {
    border: var(--btn-primary-border-hover);
    color: var(--btn-primary-color-hover);
    background: var(--btn-primary-background-hover);
    box-shadow: var(--btn-primary-box-shadow-hover); }
  .btn-primary:active {
    border: var(--btn-primary-border-active);
    color: var(--btn-primary-color-active);
    background: var(--btn-primary-background-active);
    box-shadow: var(--btn-primary-box-shadow-active); }
  .btn-primary:focus {
    border: var(--btn-primary-border-focus);
    color: var(--btn-primary-color-focus);
    background: var(--btn-primary-background-focus);
    box-shadow: var(--btn-primary-box-shadow-focus); }
  .btn-primary:disabled {
    border: var(--btn-primary-border-disabled);
    color: var(--btn-primary-color-disabled);
    background: var(--btn-primary-background-disabled);
    box-shadow: var(--btn-primary-box-shadow-disabled); }

.btn-secondary {
  border: var(--btn-secondary-border);
  color: var(--btn-secondary-color);
  background: var(--btn-secondary-background);
  box-shadow: var(--btn-secondary-box-shadow); }
  .btn-secondary:hover {
    border: var(--btn-secondary-border-hover);
    color: var(--btn-secondary-color-hover);
    background: var(--btn-secondary-background-hover);
    box-shadow: var(--btn-secondary-box-shadow-hover); }
  .btn-secondary:active {
    border: var(--btn-secondary-border-active);
    color: var(--btn-secondary-color-active);
    background: var(--btn-secondary-background-active);
    box-shadow: var(--btn-secondary-box-shadow-active); }
  .btn-secondary:focus {
    border: var(--btn-secondary-border-focus);
    color: var(--btn-secondary-color-focus);
    background: var(--btn-secondary-background-focus);
    box-shadow: var(--btn-secondary-box-shadow-focus); }
  .btn-secondary:disabled {
    border: var(--btn-secondary-border-disabled);
    color: var(--btn-secondary-color-disabled);
    background: var(--btn-secondary-background-disabled);
    box-shadow: var(--btn-secondary-box-shadow-disabled); }

.btn-tertiary {
  border: var(--btn-tertiary-border);
  color: var(--btn-tertiary-color);
  background: var(--btn-tertiary-background);
  box-shadow: var(--btn-tertiary-box-shadow); }
  .btn-tertiary:hover {
    border: var(--btn-tertiary-border-hover);
    color: var(--btn-tertiary-color-hover);
    background: var(--btn-tertiary-background-hover);
    box-shadow: var(--btn-tertiary-box-shadow-hover); }
  .btn-tertiary:active {
    border: var(--btn-tertiary-border-active);
    color: var(--btn-tertiary-color-active);
    background: var(--btn-tertiary-background-active);
    box-shadow: var(--btn-tertiary-box-shadow-active); }
  .btn-tertiary:focus {
    border: var(--btn-tertiary-border-focus);
    color: var(--btn-tertiary-color-focus);
    background: var(--btn-tertiary-background-focus);
    box-shadow: var(--btn-tertiary-box-shadow-focus); }
  .btn-tertiary:disabled {
    border: var(--btn-tertiary-border-disabled);
    color: var(--btn-tertiary-color-disabled);
    background: var(--btn-tertiary-background-disabled);
    box-shadow: var(--btn-tertiary-box-shadow-disabled); }

.btn-outline {
  border: var(--btn-outline-border);
  color: var(--btn-outline-color);
  background: var(--btn-outline-background);
  box-shadow: var(--btn-outline-box-shadow); }
  .btn-outline:hover {
    border: var(--btn-outline-border-hover);
    color: var(--btn-outline-color-hover);
    background: var(--btn-outline-background-hover);
    box-shadow: var(--btn-outline-box-shadow-hover); }
  .btn-outline:active {
    border: var(--btn-outline-border-active);
    color: var(--btn-outline-color-active);
    background: var(--btn-outline-background-active);
    box-shadow: var(--btn-outline-box-shadow-active); }
  .btn-outline:focus {
    border: var(--btn-outline-border-focus);
    color: var(--btn-outline-color-focus);
    background: var(--btn-outline-background-focus);
    box-shadow: var(--btn-outline-box-shadow-focus); }
  .btn-outline:disabled {
    border: var(--btn-outline-border-disabled);
    color: var(--btn-outline-color-disabled);
    background: var(--btn-outline-background-disabled);
    box-shadow: var(--btn-outline-box-shadow-disabled); }

.btn-link {
  border: var(--btn-link-border);
  color: var(--btn-link-color);
  background: var(--btn-link-background);
  box-shadow: var(--btn-link-box-shadow); }
  .btn-link:hover {
    border: var(--btn-link-border-hover);
    color: var(--btn-link-color-hover);
    background: var(--btn-link-background-hover);
    box-shadow: var(--btn-link-box-shadow-hover); }
  .btn-link:active {
    border: var(--btn-link-border-active);
    color: var(--btn-link-color-active);
    background: var(--btn-link-background-active);
    box-shadow: var(--btn-link-box-shadow-active); }
  .btn-link:focus {
    border: var(--btn-link-border-focus);
    color: var(--btn-link-color-focus);
    background: var(--btn-link-background-focus);
    box-shadow: var(--btn-link-box-shadow-focus); }
  .btn-link:disabled {
    border: var(--btn-link-border-disabled);
    color: var(--btn-link-color-disabled);
    background: var(--btn-link-background-disabled);
    box-shadow: var(--btn-link-box-shadow-disabled); }
