$btn-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
$btn-shadow-hover : rgba(0, 0, 0, 0.24) 0px 0px 0px;
$btn-shadow-active : rgba(0, 0, 0, 0.24) 0px 0px 0px;

$btn-transition-duration: 150ms;

$btn-opacity: 0.9;
$btn-opacity-hover: 1;
$btn-opacity-active: 1;

$btn-border-radius-sm: 8px;
$btn-border-radius-md: 8px;
$btn-border-radius-lg: 8px;
$btn-border-radius-xl: 8px;

$btn-padding-sm: 8px 12px 8px 12px;
$btn-padding-md: 10px 16px 10px 16px;
$btn-padding-lg: 14px 20px 14px 20px;
$btn-padding-xl: 24px 48px 24px 48px;

$btn-size-sm: 12px;
$btn-size-md: 14px;
$btn-size-lg: 18px;
$btn-size-xl: 28px;

:root {
    --btn-shadow: #{$btn-shadow};
    --btn-shadow-hover: #{$btn-shadow-hover};
    --btn-shadow-active: #{$btn-shadow-active};
    --btn-transition-duration: #{$btn-transition-duration};

    --btn-opacity: #{$btn-opacity};
    --btn-opacity-hover: #{$btn-opacity-hover};
    --btn-opacity-active: #{$btn-opacity-active};

    --btn-padding-sm: #{$btn-padding-sm};
    --btn-padding-md: #{$btn-padding-md};
    --btn-padding-lg: #{$btn-padding-lg};
    --btn-padding-xl: #{$btn-padding-xl};

    --btn-size-sm: #{$btn-size-sm};
    --btn-size-md: #{$btn-size-md};
    --btn-size-lg: #{$btn-size-lg};
    --btn-size-xl: #{$btn-size-xl};

    --btn-border-radius-sm: #{$btn-border-radius-sm};
    --btn-border-radius-md: #{$btn-border-radius-md};
    --btn-border-radius-lg: #{$btn-border-radius-lg};
    --btn-border-radius-xl: #{$btn-border-radius-xl};
}

.btn {
    box-shadow: var(--btn-shadow);
    cursor: pointer;
    transition-duration: var(--btn-transition-duration);
    opacity: var(--btn-opacity);
    &:hover {
        box-shadow: var(--btn-shadow-hover);
        opacity: var(--btn-opacity-hover);
    }
    &:active {
        box-shadow: var(--btn-shadow-active);
        opacity: var(--btn-opacity-active);
    }
}

.btn-sm {
    border-radius: var(--btn-border-radius-sm);
    font-size: var(--btn-size-sm);
    font-weight: 500;
    padding: var(--btn-padding-sm);
}

.btn-md {
    border-radius: var(--btn-border-radius-md);
    font-size: var(--btn-size-md);
    font-weight: 500;
    padding: var(--btn-padding-md);
}

.btn-lg {
    border-radius: var(--btn-border-radius-lg);
    font-size: var(--btn-size-lg);
    font-weight: 500;
    padding: var(--btn-padding-lg);
}

.btn-xl {
    border-radius: var(--btn-border-radius-xl);
    font-size: var(--btn-size-xl);
    font-weight: 500;
    padding: var(--btn-padding-xl);
}

.btn-primary {
    border: none;
    background: linear-gradient(90deg, rgba(62,133,228,1) 0%, rgba(0,74,173,1) 100%);
    &:hover {
        // background: rgb(236,219,152);
        background: linear-gradient(90deg, rgba(236,219,152,1) 0%, rgba(217,180,38,1) 100%);
    }
}