$btn-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
$btn-shadow-hover : rgba(0, 0, 0, 0.24) 0px 0px 0px;
$btn-shadow-active : rgba(0, 0, 0, 0.24) 0px 0px 0px;

$btn-transition-duration: 150ms;

$btn-opacity: 0.9;
$btn-opacity-hover: 1;
$btn-opacity-active: 1;

$btn-border-radius-sm: 8px;
$btn-border-radius-md: 8px;
$btn-border-radius-lg: 8px;
$btn-border-radius-xl: 8px;

$btn-padding-sm: 8px 12px 8px 12px;
$btn-padding-md: 10px 16px 10px 16px;
$btn-padding-lg: 14px 20px 14px 20px;
$btn-padding-xl: 24px 48px 24px 48px;

$btn-size-sm: 12px;
$btn-size-md: 14px;
$btn-size-lg: 18px;
$btn-size-xl: 28px;

// Primary Button
$btn-primary-border: 1px solid var(--color-primary-300);
$btn-primary-color: var(--color-on-primary);
$btn-primary-background: linear-gradient(88deg, var(--color-primary-400) 0%, var(--color-primary-500) 100%);
$btn-primary-box-shadow: unset;

$btn-primary-border-hover: 1px solid var(--color-secondary-400);
$btn-primary-color-hover: var(--color-generic-0);
$btn-primary-background-hover: linear-gradient(88deg, var(--color-secondary-400) 0%, var(--color-secondary-500) 100%);
$btn-primary-box-shadow-hover: unset;

$btn-primary-border-active: 1px solid var(--color-primary-300);
$btn-primary-color-active: var(--color-primary-300);
$btn-primary-background-active: linear-gradient(88deg, var(--color-secondary-400) 0%, var(--color-secondary-500) 100%);
$btn-primary-box-shadow-active: 0 0 0 0.3em var(--color-primary-300);

$btn-primary-border-focus: 1px solid var(--color-primary-300);
$btn-primary-color-focus: var(--color-primary-50);
$btn-primary-background-focus: linear-gradient(88deg, var(--color-primary-500) 0%, var(--color-primary-600) 100%);
$btn-primary-box-shadow-focus: 0 0 0 0.3em var(--color-primary-300);

$btn-primary-border-disabled: 1px solid var(--color-primary-100);
$btn-primary-color-disabled: var(--color-primary-50);
$btn-primary-background-disabled: var(--color-primary-100);
$btn-primary-box-shadow-disabled: unset;
// Primary Button

// Primary Destructive Button
$btn-primary-destructive-border: 1px solid var(--color-destructive-500, #EE2E2E);
$btn-primary-destructive-color: var(--color-generic-0);
$btn-primary-destructive-background: var(--color-destructive-500, #EE2E2E);
$btn-primary-destructive-box-shadow: unset;

$btn-primary-destructive-border-hover: 1px solid var(--color-destructive-400, #F97070);
$btn-primary-destructive-color-hover: var(--color-generic-0);
$btn-primary-destructive-background-hover: var(--color-destructive-400, #F97070);
$btn-primary-destructive-box-shadow-hover: unset;

$btn-primary-destructive-border-active: 1px solid var(--color-destructive-400, #F97070);
$btn-primary-destructive-color-active: var(--color-destructive-200, #FECACA);
$btn-primary-destructive-background-active: var(--color-destructive-600, #DD2525);
$btn-primary-destructive-box-shadow-active: unset;

$btn-primary-destructive-border-focus: 1px solid var(--color-destructive-400, #F97070);
$btn-primary-destructive-color-focus: var(--color-destructive-200, #FECACA);
$btn-primary-destructive-background-focus: var(--color-destructive-600, #DD2525);
$btn-primary-destructive-box-shadow-focus: 0 0 0 0.3em var(--color-destructive-100, #FBBEBE);

$btn-primary-destructive-border-disabled: 1px solid var(--color-destructive-200, #FECACA);
$btn-primary-destructive-color-disabled: var(--color-destructive-200, #FECACA);
$btn-primary-destructive-background-disabled: var(--color-destructive-300, #FCA5A5);
$btn-primary-destructive-box-shadow-disabled: unset;
// Primary Destructive Button

// Secondary Button
$btn-secondary-border: 1px solid transparent;
$btn-secondary-color: var(--color-primary);
$btn-secondary-background: var(--primary-100, #DBEBFF); 
$btn-secondary-box-shadow: unset;

$btn-secondary-border-hover: 1px solid transparent;
$btn-secondary-color-hover: var(--color-secondary-600);
$btn-secondary-background-hover: var(--color-secondary-200);
$btn-secondary-box-shadow-hover: unset;

$btn-secondary-border-active: 1px solid var(--color-primary-300);;
$btn-secondary-color-active: var(--color-primary-400);
$btn-secondary-background-active: var(--color-primary-200);
$btn-secondary-box-shadow-active: unset;

$btn-secondary-border-focus: 1px solid var(--color-primary-300);;
$btn-secondary-color-focus: var(--color-primary-400);
$btn-secondary-background-focus: var(--color-primary-200);
$btn-secondary-box-shadow-focus: 0 0 0 0.3em var(--color-primary-300);

$btn-secondary-border-disabled: 1px solid var(--color-primary-50, #F0F6FF);
$btn-secondary-color-disabled: var(--color-primary-200, #B3D4FF);
$btn-secondary-background-disabled:  var(--color-primary-50, #F0F6FF);
$btn-secondary-box-shadow-disabled: unset;
// Secondary Button

// Secondary Destructive Button
$btn-secondary-destructive-border: 1px solid transparent;
$btn-secondary-destructive-color: var(--color-destructive-600, #DD2525);
$btn-secondary-destructive-background: var(--color-destructive-50, #FEF2F2);
$btn-secondary-destructive-box-shadow: unset;

$btn-secondary-destructive-border-hover: 1px solid transparent;
$btn-secondary-destructive-color-hover: var(--color-destructive-200, #FECACA);
$btn-secondary-destructive-background-hover: var(--color-destructive-600, #DD2525);
$btn-secondary-destructive-box-shadow-hover: unset;

$btn-secondary-destructive-border-active: 1px solid var(--color-destructive-200, #FECACA);;
$btn-secondary-destructive-color-active: var(--color-destructive-500, #EE2E2E);
$btn-secondary-destructive-background-active: var(--color-destructive-100, #FEE2E2);
$btn-secondary-destructive-box-shadow-active: unset;

$btn-secondary-destructive-border-focus: 1px solid var(--color-destructive-200, #FECACA);
$btn-secondary-destructive-color-focus: var(--color-destructive-500, #EE2E2E);
$btn-secondary-destructive-background-focus: var(--color-destructive-100, #FEE2E2);
$btn-secondary-destructive-box-shadow-focus: 0 0 0 0.3em var(--color-destructive-100, #FBBEBE);

$btn-secondary-destructive-border-disabled: 1px solid var(--color-destructive-50, #FEF2F2);
$btn-secondary-destructive-color-disabled: var(--color-destructive-300, #FCA5A5);
$btn-secondary-destructive-background-disabled: var(--color-destructive-50, #FEF2F2);
$btn-secondary-destructive-box-shadow-disabled: unset;
// Secondary Destribute Button

// Tertiary Button
$btn-tertiary-border: 1px solid var(--color-neutral-200, #E4E4E4);
$btn-tertiary-color: var(--color-neutral-700, #525252);
$btn-tertiary-background: var(--color-generic-0, #FFF);
$btn-tertiary-box-shadow: unset;

$btn-tertiary-border-hover: 1px solid var(--color-slate-300, #CAD4E0);
$btn-tertiary-color-hover: var(--color-slate-700, #475569);
$btn-tertiary-background-hover: var(--color-slate-100, #F0F4F8); 
$btn-tertiary-box-shadow-hover: unset;

$btn-tertiary-border-active: 1px solid var(--color-neutral-300, #D3D3D3);
$btn-tertiary-color-active: var(--color-neutral-500, #8A8A8A);
$btn-tertiary-background-active: var(--color-neutral-100, #F4F4F4); 
$btn-tertiary-box-shadow-active: unset;

$btn-tertiary-border-focus: 1px solid var(--color-neutral-300, #D3D3D3);
$btn-tertiary-color-focus: var(--color-neutral-500, #8A8A8A);
$btn-tertiary-background-focus: var(--color-neutral-50, #F9F9F9);
$btn-tertiary-box-shadow-focus: 0px 0px 0px 4px #CBCBCB; 

$btn-tertiary-border-disabled: 1px solid var(--color-neutral-200, #E4E4E4);
$btn-tertiary-color-disabled: var(--color-neutral-300, #D3D3D3);
$btn-tertiary-background-disabled: var(--color-generic-0, #FFFFFF);
$btn-tertiary-box-shadow-disabled: unset;
// Tertiary Button

// Tertiary Destructive Button
$btn-tertiary-destructive-border: 1px solid var(--color-destructive-200, #FECACA);
$btn-tertiary-destructive-color: var(--color-destructive-500, #EE2E2E);
$btn-tertiary-destructive-background: var(--color-generic-0, #FFFFFF);
$btn-tertiary-destructive-box-shadow: unset;

$btn-tertiary-destructive-border-hover: 1px solid var(--color-destructive-300, #FCA5A5);
$btn-tertiary-destructive-color-hover: var(--color-destructive-500, #EE2E2E);
$btn-tertiary-destructive-background-hover: var(--color-destructive-300, #FCA5A5);
$btn-tertiary-destructive-box-shadow-hover: unset;

$btn-tertiary-destructive-border-active: 1px solid var(--color-destructive-300, #FCA5A5);
$btn-tertiary-destructive-color-active: var(--color-destructive-400, #F97070);
$btn-tertiary-destructive-background-active: var(--color-destructive-50, #FEF2F2); 
$btn-tertiary-destructive-box-shadow-active: unset;

$btn-tertiary-destructive-border-focus: 1px solid var(--color-destructive-300, #FCA5A5);
$btn-tertiary-destructive-color-focus: var(--color-destructive-400, #F97070);
$btn-tertiary-destructive-background-focus: var(--color-destructive-50, #FEF2F2);
$btn-tertiary-destructive-box-shadow-focus: 0px 0px 0px 4px var(--color-destructive-100, #FBBEBE); 

$btn-tertiary-destructive-border-disabled: 1px solid var(--color-destructive-200, #FECACA);
$btn-tertiary-destructive-color-disabled: var(--color-destructive-300, #FCA5A5);
$btn-tertiary-destructive-background-disabled: var(--color-generic-0, #FFFFFF);
$btn-tertiary-destructive-box-shadow-disabled: unset;
// Tertiary Destructive  Button

// Outline Button
$btn-outline-border: 1px solid var(--color-primary-500, #004AAD);
$btn-outline-color: var(--color-primary-500, #004AAD);
$btn-outline-background: transparent;
$btn-outline-box-shadow: unset;

$btn-outline-border-hover: 1px solid var(--color-secondary-600, #E4B602);
$btn-outline-color-hover: var(--color-secondary-600, #E4B602);
$btn-outline-background-hover: transparent;
$btn-outline-box-shadow-hover: unset;

$btn-outline-border-active: 1px solid var(--color-primary-400, #2E89FF);
$btn-outline-color-active: var(--color-primary-400, #2E89FF);
$btn-outline-background-active: var(--color-primary-50, #2E89FF); 
$btn-outline-box-shadow-active: 0 0 0 0.3em var(--color-primary-400);

$btn-outline-border-focus: 1px solid var(--color-primary-400, #2E89FF);
$btn-outline-color-focus: var(--color-primary-500, #004AAD);
$btn-outline-background-focus: var(--color-primary-50, #2E89FF); 
$btn-outline-box-shadow-focus: 0 0 0 0.2em var(--color-primary-400);

$btn-outline-border-disabled: 1px solid var(--color-primary-200, #B3D4FF);
$btn-outline-color-disabled: var(--color-primary-200, #B3D4FF);
$btn-outline-background-disabled: transparent;
$btn-outline-box-shadow-disabled: unset;
// Outline Button

// Outline Destructive Button
$btn-outline-destructive-border: 1px solid var(--color-destructive-500, #EE2E2E);
$btn-outline-destructive-color: var(--color-destructive-500, #EE2E2E);
$btn-outline-destructive-background: transparent;
$btn-outline-destructive-box-shadow: unset;

$btn-outline-destructive-border-hover: 1px solid var(--color-destructive-400, #F97070);
$btn-outline-destructive-color-hover: var(--color-destructive-400, #F97070);
$btn-outline-destructive-background-hover: var(--color-destructive-50, #FEF2F2);
$btn-outline-destructive-box-shadow-hover: unset;

$btn-outline-destructive-border-active: 1px solid var(--color-destructive-400, #F97070);
$btn-outline-destructive-color-active: var(--color-destructive-400, #F97070);
$btn-outline-destructive-background-active: var(--color-destructive-200, #FECACA);
$btn-outline-destructive-box-shadow-active: unset;

$btn-outline-destructive-border-focus: 1px solid var(--color-destructive-400, #F97070);
$btn-outline-destructive-color-focus: var(--color-destructive-500, #EE2E2E);
$btn-outline-destructive-background-focus: transparent;
$btn-outline-destructive-box-shadow-focus: 0 0 0 0.2em var(--color-destructive-400, #F97070);

$btn-outline-destructive-border-disabled: 1px solid var(--color-destructive-300, #FCA5A5);
$btn-outline-destructive-color-disabled: var(--color-destructive-300, #FCA5A5);
$btn-outline-destructive-background-disabled: transparent;
$btn-outline-destructive-box-shadow-disabled: unset;
// Outline Destructive Button

// Link Button
$btn-link-border: 1px solid transparent;
$btn-link-color: var(--color-primary-500, #004AAD);
$btn-link-background: transparent;
$btn-link-box-shadow: unset;

$btn-link-border-hover: 1px solid transparent;
$btn-link-color-hover: var(--color-secondary-600, #E4B602);
$btn-link-background-hover: transparent;
$btn-link-box-shadow-hover: unset;

$btn-link-border-active: 1px solid transparent;
$btn-link-color-active: var(--color-primary-400, #2E89FF);
$btn-link-background-active: transparent;
$btn-link-box-shadow-active: unset;

$btn-link-border-focus: 1px solid var(--color-primary-500, #004AAD);
$btn-link-color-focus: var(--color-primary-500, #004AAD);
$btn-link-background-focus: transparent;
$btn-link-box-shadow-focus: unset;

$btn-link-border-disabled: 1px solid transparent;
$btn-link-color-disabled: var(--color-primary-200, #B3D4FF);
$btn-link-background-disabled: transparent;
$btn-link-box-shadow-disabled: unset;
// Link Button

// Link Destructive Button
$btn-link-destructive-border: 1px solid transparent;
$btn-link-destructive-color: var(--color-destructive-500, #EE2E2E);
$btn-link-destructive-background: transparent;
$btn-link-destructive-box-shadow: unset;

$btn-link-destructive-border-hover: 1px solid transparent;
$btn-link-destructive-color-hover: var(--color-destructive-400, #F97070);
$btn-link-destructive-background-hover: transparent;
$btn-link-destructive-box-shadow-hover: unset;

$btn-link-destructive-border-active: 1px solid transparent;
$btn-link-destructive-color-active: var(--color-destructive-600, #DD2525);
$btn-link-destructive-background-active: transparent;
$btn-link-destructive-box-shadow-active: unset;

$btn-link-destructive-border-focus: 1px solid var(--color-destructive-500, #EE2E2E);
$btn-link-destructive-color-focus: var(--color-destructive-500, #EE2E2E);
$btn-link-destructive-background-focus: transparent;
$btn-link-destructive-box-shadow-focus: unset;

$btn-link-destructive-border-disabled: 1px solid transparent;
$btn-link-destructive-color-disabled: var(--color-destructive-300, #FCA5A5);
$btn-link-destructive-background-disabled: transparent;
$btn-link-destructive-box-shadow-disabled: unset;
// Link Destructive Button


:root {
    --btn-shadow: #{$btn-shadow};
    --btn-shadow-hover: #{$btn-shadow-hover};
    --btn-shadow-active: #{$btn-shadow-active};
    --btn-transition-duration: #{$btn-transition-duration};

    --btn-opacity: #{$btn-opacity};
    --btn-opacity-hover: #{$btn-opacity-hover};
    --btn-opacity-active: #{$btn-opacity-active};

    --btn-padding-sm: #{$btn-padding-sm};
    --btn-padding-md: #{$btn-padding-md};
    --btn-padding-lg: #{$btn-padding-lg};
    --btn-padding-xl: #{$btn-padding-xl};

    --btn-size-sm: #{$btn-size-sm};
    --btn-size-md: #{$btn-size-md};
    --btn-size-lg: #{$btn-size-lg};
    --btn-size-xl: #{$btn-size-xl};

    --btn-border-radius-sm: #{$btn-border-radius-sm};
    --btn-border-radius-md: #{$btn-border-radius-md};
    --btn-border-radius-lg: #{$btn-border-radius-lg};
    --btn-border-radius-xl: #{$btn-border-radius-xl};

    // Primary Button
    --btn-primary-border: #{$btn-primary-border};
    --btn-primary-color: #{$btn-primary-color};
    --btn-primary-background: #{$btn-primary-background};

    --btn-primary-border-hover: #{$btn-primary-border-hover};
    --btn-primary-color-hover: #{$btn-primary-color-hover};
    --btn-primary-background-hover: #{$btn-primary-background-hover};
    --btn-primary-box-shadow-hover: #{$btn-primary-box-shadow-hover};

    --btn-primary-border-active: #{$btn-primary-border-active};
    --btn-primary-color-active: #{$btn-primary-color-active};
    --btn-primary-background-active: #{$btn-primary-background-active};
    --btn-primary-box-shadow-active: #{$btn-primary-box-shadow-active};

    --btn-primary-border-focus: #{$btn-primary-border-focus};
    --btn-primary-color-focus: #{$btn-primary-color-focus};
    --btn-primary-background-focus: #{$btn-primary-background-focus};
    --btn-primary-box-shadow-focus: #{$btn-primary-box-shadow-focus};

    --btn-primary-border-disabled: #{$btn-primary-border-disabled};
    --btn-primary-color-disabled: #{$btn-primary-color-disabled};
    --btn-primary-background-disabled: #{$btn-primary-background-disabled};
    --btn-primary-box-shadow-disabled: #{$btn-primary-box-shadow-disabled};
    // Primary Button

    // Primary Destructive Button
    --btn-primary-destructive-border: #{$btn-primary-destructive-border};
    --btn-primary-destructive-color: #{$btn-primary-destructive-color};
    --btn-primary-destructive-background: #{$btn-primary-destructive-background};

    --btn-primary-destructive-border-hover: #{$btn-primary-destructive-border-hover};
    --btn-primary-destructive-color-hover: #{$btn-primary-destructive-color-hover};
    --btn-primary-destructive-background-hover: #{$btn-primary-destructive-background-hover};
    --btn-primary-destructive-box-shadow-hover: #{$btn-primary-destructive-box-shadow-hover};

    --btn-primary-destructive-border-active: #{$btn-primary-destructive-border-active};
    --btn-primary-destructive-color-active: #{$btn-primary-destructive-color-active};
    --btn-primary-destructive-background-active: #{$btn-primary-destructive-background-active};
    --btn-primary-destructive-box-shadow-active: #{$btn-primary-destructive-box-shadow-active};

    --btn-primary-destructive-border-focus: #{$btn-primary-destructive-border-focus};
    --btn-primary-destructive-color-focus: #{$btn-primary-destructive-color-focus};
    --btn-primary-destructive-background-focus: #{$btn-primary-destructive-background-focus};
    --btn-primary-destructive-box-shadow-focus: #{$btn-primary-destructive-box-shadow-focus};

    --btn-primary-destructive-border-disabled: #{$btn-primary-destructive-border-disabled};
    --btn-primary-destructive-color-disabled: #{$btn-primary-destructive-color-disabled};
    --btn-primary-destructive-background-disabled: #{$btn-primary-destructive-background-disabled};
    --btn-primary-destructive-box-shadow-disabled: #{$btn-primary-destructive-box-shadow-disabled};
    // Primary Destructive Button

    // Seconday Button
    --btn-secondary-border: #{$btn-secondary-border};
    --btn-secondary-color: #{$btn-secondary-color};
    --btn-secondary-background: #{$btn-secondary-background};

    --btn-secondary-border-hover: #{$btn-secondary-border-hover};
    --btn-secondary-color-hover: #{$btn-secondary-color-hover};
    --btn-secondary-background-hover: #{$btn-secondary-background-hover};
    --btn-secondary-box-shadow-hover: #{$btn-secondary-box-shadow-hover};

    --btn-secondary-border-active: #{$btn-secondary-border-active};
    --btn-secondary-color-active: #{$btn-secondary-color-active};
    --btn-secondary-background-active: #{$btn-secondary-background-active};
    --btn-secondary-box-shadow-active: #{$btn-secondary-box-shadow-active};

    --btn-secondary-border-focus: #{$btn-secondary-border-focus};
    --btn-secondary-color-focus: #{$btn-secondary-color-focus};
    --btn-secondary-background-focus: #{$btn-secondary-background-focus};
    --btn-secondary-box-shadow-focus: #{$btn-secondary-box-shadow-focus};

    --btn-secondary-border-disabled: #{$btn-secondary-border-disabled};
    --btn-secondary-color-disabled: #{$btn-secondary-color-disabled};
    --btn-secondary-background-disabled: #{$btn-secondary-background-disabled};
    --btn-secondary-box-shadow-disabled: #{$btn-secondary-box-shadow-disabled};
    // Seconday Button

    // Seconday Destructive Button
    --btn-secondary-destructive-border: #{$btn-secondary-destructive-border};
    --btn-secondary-destructive-color: #{$btn-secondary-destructive-color};
    --btn-secondary-destructive-background: #{$btn-secondary-destructive-background};

    --btn-secondary-destructive-border-hover: #{$btn-secondary-destructive-border-hover};
    --btn-secondary-destructive-color-hover: #{$btn-secondary-destructive-color-hover};
    --btn-secondary-destructive-background-hover: #{$btn-secondary-destructive-background-hover};
    --btn-secondary-destructive-box-shadow-hover: #{$btn-secondary-destructive-box-shadow-hover};

    --btn-secondary-destructive-border-active: #{$btn-secondary-destructive-border-active};
    --btn-secondary-destructive-color-active: #{$btn-secondary-destructive-color-active};
    --btn-secondary-destructive-background-active: #{$btn-secondary-destructive-background-active};
    --btn-secondary-destructive-box-shadow-active: #{$btn-secondary-destructive-box-shadow-active};

    --btn-secondary-destructive-border-focus: #{$btn-secondary-destructive-border-focus};
    --btn-secondary-destructive-color-focus: #{$btn-secondary-destructive-color-focus};
    --btn-secondary-destructive-background-focus: #{$btn-secondary-destructive-background-focus};
    --btn-secondary-destructive-box-shadow-focus: #{$btn-secondary-destructive-box-shadow-focus};

    --btn-secondary-destructive-border-disabled: #{$btn-secondary-destructive-border-disabled};
    --btn-secondary-destructive-color-disabled: #{$btn-secondary-destructive-color-disabled};
    --btn-secondary-destructive-background-disabled: #{$btn-secondary-destructive-background-disabled};
    --btn-secondary-destructive-box-shadow-disabled: #{$btn-secondary-destructive-box-shadow-disabled};
    // Seconday Destructive Button

    // Tertiary Button
    --btn-tertiary-border: #{$btn-tertiary-border};
    --btn-tertiary-color: #{$btn-tertiary-color};
    --btn-tertiary-background: #{$btn-tertiary-background};

    --btn-tertiary-border-hover: #{$btn-tertiary-border-hover};
    --btn-tertiary-color-hover: #{$btn-tertiary-color-hover};
    --btn-tertiary-background-hover: #{$btn-tertiary-background-hover};
    --btn-tertiary-box-shadow-hover: #{$btn-tertiary-box-shadow-hover};

    --btn-tertiary-border-active: #{$btn-tertiary-border-active};
    --btn-tertiary-color-active: #{$btn-tertiary-color-active};
    --btn-tertiary-background-active: #{$btn-tertiary-background-active};
    --btn-tertiary-box-shadow-active: #{$btn-tertiary-box-shadow-active};

    --btn-tertiary-border-focus: #{$btn-tertiary-border-focus};
    --btn-tertiary-color-focus: #{$btn-tertiary-color-focus};
    --btn-tertiary-background-focus: #{$btn-tertiary-background-focus};
    --btn-tertiary-box-shadow-focus: #{$btn-tertiary-box-shadow-focus};

    --btn-tertiary-border-disabled: #{$btn-tertiary-border-disabled};
    --btn-tertiary-color-disabled: #{$btn-tertiary-color-disabled};
    --btn-tertiary-background-disabled: #{$btn-tertiary-background-disabled};
    --btn-tertiary-box-shadow-disabled: #{$btn-tertiary-box-shadow-disabled};
    // Tertiary Button

    // Tertiary Destructive Button
    --btn-tertiary-destructive-border: #{$btn-tertiary-destructive-border};
    --btn-tertiary-destructive-color: #{$btn-tertiary-destructive-color};
    --btn-tertiary-destructive-background: #{$btn-tertiary-destructive-background};

    --btn-tertiary-destructive-border-hover: #{$btn-tertiary-destructive-border-hover};
    --btn-tertiary-destructive-color-hover: #{$btn-tertiary-destructive-color-hover};
    --btn-tertiary-destructive-background-hover: #{$btn-tertiary-destructive-background-hover};
    --btn-tertiary-destructive-box-shadow-hover: #{$btn-tertiary-destructive-box-shadow-hover};

    --btn-tertiary-destructive-border-active: #{$btn-tertiary-destructive-border-active};
    --btn-tertiary-destructive-color-active: #{$btn-tertiary-destructive-color-active};
    --btn-tertiary-destructive-background-active: #{$btn-tertiary-destructive-background-active};
    --btn-tertiary-destructive-box-shadow-active: #{$btn-tertiary-destructive-box-shadow-active};

    --btn-tertiary-destructive-border-focus: #{$btn-tertiary-destructive-border-focus};
    --btn-tertiary-destructive-color-focus: #{$btn-tertiary-destructive-color-focus};
    --btn-tertiary-destructive-background-focus: #{$btn-tertiary-destructive-background-focus};
    --btn-tertiary-destructive-box-shadow-focus: #{$btn-tertiary-destructive-box-shadow-focus};

    --btn-tertiary-destructive-border-disabled: #{$btn-tertiary-destructive-border-disabled};
    --btn-tertiary-destructive-color-disabled: #{$btn-tertiary-destructive-color-disabled};
    --btn-tertiary-destructive-background-disabled: #{$btn-tertiary-destructive-background-disabled};
    --btn-tertiary-destructive-box-shadow-disabled: #{$btn-tertiary-destructive-box-shadow-disabled};
    // Tertiary Destructive Button

    // Outline Button
    --btn-outline-border: #{$btn-outline-border};
    --btn-outline-color: #{$btn-outline-color};
    --btn-outline-background: #{$btn-outline-background};

    --btn-outline-border-hover: #{$btn-outline-border-hover};
    --btn-outline-color-hover: #{$btn-outline-color-hover};
    --btn-outline-background-hover: #{$btn-outline-background-hover};
    --btn-outline-box-shadow-hover: #{$btn-outline-box-shadow-hover};

    --btn-outline-border-active: #{$btn-outline-border-active};
    --btn-outline-color-active: #{$btn-outline-color-active};
    --btn-outline-background-active: #{$btn-outline-background-active};
    --btn-outline-box-shadow-active: #{$btn-outline-box-shadow-active};

    --btn-outline-border-focus: #{$btn-outline-border-focus};
    --btn-outline-color-focus: #{$btn-outline-color-focus};
    --btn-outline-background-focus: #{$btn-outline-background-focus};
    --btn-outline-box-shadow-focus: #{$btn-outline-box-shadow-focus};

    --btn-outline-border-disabled: #{$btn-outline-border-disabled};
    --btn-outline-color-disabled: #{$btn-outline-color-disabled};
    --btn-outline-background-disabled: #{$btn-outline-background-disabled};
    --btn-outline-box-shadow-disabled: #{$btn-outline-box-shadow-disabled};
    // Outline Button

    // Outline Destructive Button
    --btn-outline-destructive-border: #{$btn-outline-destructive-border};
    --btn-outline-destructive-color: #{$btn-outline-destructive-color};
    --btn-outline-destructive-background: #{$btn-outline-destructive-background};

    --btn-outline-destructive-border-hover: #{$btn-outline-destructive-border-hover};
    --btn-outline-destructive-color-hover: #{$btn-outline-destructive-color-hover};
    --btn-outline-destructive-background-hover: #{$btn-outline-destructive-background-hover};
    --btn-outline-destructive-box-shadow-hover: #{$btn-outline-destructive-box-shadow-hover};

    --btn-outline-destructive-border-active: #{$btn-outline-destructive-border-active};
    --btn-outline-destructive-color-active: #{$btn-outline-destructive-color-active};
    --btn-outline-destructive-background-active: #{$btn-outline-destructive-background-active};
    --btn-outline-destructive-box-shadow-active: #{$btn-outline-destructive-box-shadow-active};

    --btn-outline-destructive-border-focus: #{$btn-outline-destructive-border-focus};
    --btn-outline-destructive-color-focus: #{$btn-outline-destructive-color-focus};
    --btn-outline-destructive-background-focus: #{$btn-outline-destructive-background-focus};
    --btn-outline-destructive-box-shadow-focus: #{$btn-outline-destructive-box-shadow-focus};

    --btn-outline-destructive-border-disabled: #{$btn-outline-destructive-border-disabled};
    --btn-outline-destructive-color-disabled: #{$btn-outline-destructive-color-disabled};
    --btn-outline-destructive-background-disabled: #{$btn-outline-destructive-background-disabled};
    --btn-outline-destructive-box-shadow-disabled: #{$btn-outline-destructive-box-shadow-disabled};
    // Outline Destructive Button

    // Link Button
    --btn-link-border: #{$btn-link-border};
    --btn-link-color: #{$btn-link-color};
    --btn-link-background: #{$btn-link-background};

    --btn-link-border-hover: #{$btn-link-border-hover};
    --btn-link-color-hover: #{$btn-link-color-hover};
    --btn-link-background-hover: #{$btn-link-background-hover};
    --btn-link-box-shadow-hover: #{$btn-link-box-shadow-hover};

    --btn-link-border-active: #{$btn-link-border-active};
    --btn-link-color-active: #{$btn-link-color-active};
    --btn-link-background-active: #{$btn-link-background-active};
    --btn-link-box-shadow-active: #{$btn-link-box-shadow-active};

    --btn-link-border-focus: #{$btn-link-border-focus};
    --btn-link-color-focus: #{$btn-link-color-focus};
    --btn-link-background-focus: #{$btn-link-background-focus};
    --btn-link-box-shadow-focus: #{$btn-link-box-shadow-focus};

    --btn-link-border-disabled: #{$btn-link-border-disabled};
    --btn-link-color-disabled: #{$btn-link-color-disabled};
    --btn-link-background-disabled: #{$btn-link-background-disabled};
    --btn-link-box-shadow-disabled: #{$btn-link-box-shadow-disabled};
    // Link Button

    // Link Destructive Button
    --btn-link-destructive-border: #{$btn-link-destructive-border};
    --btn-link-destructive-color: #{$btn-link-destructive-color};
    --btn-link-destructive-background: #{$btn-link-destructive-background};

    --btn-link-destructive-border-hover: #{$btn-link-destructive-border-hover};
    --btn-link-destructive-color-hover: #{$btn-link-destructive-color-hover};
    --btn-link-destructive-background-hover: #{$btn-link-destructive-background-hover};
    --btn-link-destructive-box-shadow-hover: #{$btn-link-destructive-box-shadow-hover};

    --btn-link-destructive-border-active: #{$btn-link-destructive-border-active};
    --btn-link-destructive-color-active: #{$btn-link-destructive-color-active};
    --btn-link-destructive-background-active: #{$btn-link-destructive-background-active};
    --btn-link-destructive-box-shadow-active: #{$btn-link-destructive-box-shadow-active};

    --btn-link-destructive-border-focus: #{$btn-link-destructive-border-focus};
    --btn-link-destructive-color-focus: #{$btn-link-destructive-color-focus};
    --btn-link-destructive-background-focus: #{$btn-link-destructive-background-focus};
    --btn-link-destructive-box-shadow-focus: #{$btn-link-destructive-box-shadow-focus};

    --btn-link-destructive-border-disabled: #{$btn-link-destructive-border-disabled};
    --btn-link-destructive-color-disabled: #{$btn-link-destructive-color-disabled};
    --btn-link-destructive-background-disabled: #{$btn-link-destructive-background-disabled};
    --btn-link-destructive-box-shadow-disabled: #{$btn-link-destructive-box-shadow-disabled};
    // Link Destructive Button
}

.btn {
    box-shadow: var(--btn-shadow);
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: var(--btn-transition-duration);
    opacity: var(--btn-opacity);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        box-shadow: var(--btn-shadow-hover);
        opacity: var(--btn-opacity-hover);
    }
    &:active {
        box-shadow: var(--btn-shadow-active);
        opacity: var(--btn-opacity-active);
    }
    &:disabled {
        cursor: not-allowed;
    }
}

@mixin btn-size($size) {
    border-radius: var(--btn-border-radius-#{$size});
    font-size: var(--btn-size-#{$size});
    font-weight: 500;
    padding: var(--btn-padding-#{$size});

    svg {
        width: 1.5em;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
}

.btn-sm {
    @include btn-size(sm);
}

.btn-md {
    @include btn-size(md);
}

.btn-lg {
    @include btn-size(lg);
}

.btn-xl {
    @include btn-size(xl);
}

@mixin base-button($variant, $state){
    border: var(--btn-#{$variant}-border#{$state});
    color: var(--btn-#{$variant}-color#{$state});
    background: var(--btn-#{$variant}-background#{$state});
    box-shadow: var(--btn-#{$variant}-box-shadow#{$state});
}

@mixin button-variant($variant){
    @include base-button($variant, '');
    &:hover {
        @include base-button($variant, '-hover');
    }
    &:active {
        @include base-button($variant, '-active');
    }
    &:focus {
        @include base-button($variant, '-focus');
    }
    &:disabled {
        @include base-button($variant, '-disabled');
    }
}



.btn-primary {
    @include button-variant('primary');
}

.btn-secondary {
    @include button-variant('secondary');
}

.btn-tertiary {
    @include button-variant('tertiary');
}

.btn-outline {
    @include button-variant('outline');
}

.btn-link {
    @include button-variant('link');
}

.btn-primary-destructive {
    @include button-variant('primary-destructive');
}

.btn-secondary-destructive {
    @include button-variant('secondary-destructive');
}

.btn-tertiary-destructive {
    @include button-variant('tertiary-destructive');
}

.btn-outline-destructive {
    @include button-variant('outline-destructive');
}

.btn-link-destructive {
    @include button-variant('link-destructive');
}