$generic-0: #FFFFFF;
$generic-100: #00000000;

:root {

    --generic-0: #{$generic-0};
    --generic-100: #{$generic-100};

    --color-neutral-100: #F0F6FF;
    --color-neutral-200: #B3D4FF;
    --color-neutral-300: #80B7FF;
    --color-neutral-400: #2E89FF;
    --color-neutral-500: #004AAD;
    --color-neutral-600: #004094;
    --color-neutral-700: #003C8A;
    --color-neutral-800: #002E6B;
    --color-neutral-900: #002657;
    --color-neutral-950: #001838;

    --color-on-neutral: white;
    --color-on-neutral-dark: #004094;

    --color-bg: #e7e7e7;

    --color-bg-popup-shade: #00000046;
    --color-bg-modal: #e7e7e7;

    --color-bg-sidebar: #1A1A1A;

    --shadow-text: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --shadow-sm: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow-md: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-lg: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}